{{/* 
    - Displays child pages with titles, descriptions/summaries, & links to up to 7 children (or a count of children) 
*/}}

{{ if .Site.Params.childPages.display}}
    {{if .Pages }}
        <aside class="spread-left rounded-1 mt-5">
            {{ range sort .Pages "Weight" "$order"}}
                {{ if  .Params.hidden }}
                    {{/* Do not show the hidden child page or its descendants */}}
                {{else}}
                    <a href="{{.RelPermalink}}" class="is-half">
                        <div class=" rounded-5 gradient-lr-cold p-1 m-1 shadow-dl-1">
                            <div class=" outlined-white rounded-5 c-sp-1 blue"> 
                                <h3 class="text-s">
                                    {{.Title}}
                                </h3>
                                <p class="text-xs">
                                    {{ if .Params.description }}
                                        {{ .Params.description }}
                                    {{ else }}
                                        {{ .Summary }}
                                    {{ end }}
                                </p>
                            </div>
                        </div>
                    </a>

                {{end}}
            {{end}}
        </aside>
    {{end}}
{{end}}